@font-face{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.bloc{
    border:1px solid yellow;
    max-width: 80%;
    margin:auto;  
}

h2{
    color: black;
    text-align: center;
}

/*******Navigation*******/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*******header*******/

header{
    background-color: #1e93cc;
}

header> .bloc: section{
    display: inline-block;
    font-size: 20px;
}

header> .bloc: img, header> .bloc: section{
    margin:20px;
}

button{
    background-color: #e99102;
    border-radius:7px;
    border:1px solid white;
    height:65px;
    width:250px;
    font-size: 22px;
    color:white;
    display: inline-block;
    
}

.button2{
    background-color: #165882;
    height:65px;
    width:250px;
    font-size: 22px;
    color:white;
    display: inline-block;
    text-decoration: none;  
  
}

/*******info*******/
.container{
    height: 400px;
    background-color: #1e93cc;
    color: white;
    
    
}

.container> .bloc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container> .bloc article{
    padding:15px;
    font-size:18px;
}

.container> .bloc article h2{
    color:white;
    text-align: left;
}

/*******partenaires*******/
.container2{
    text-align: center;
    background-color: #eeeeee;
    border:1px solid yellow;
    padding: 50px;
}

.container2 img{
    margin: 25px;
}


/*******div.bouton*******/
.bouton{
    text-align: center;
    border:1px solid red;
    height: 150px;
    
}


/*******footer*******/
#copyright{
    color:white;
    float: right;
    margin-right: 60px;
}
